In [1]:
first= "Salome"
second= "Moraa"
third = "Kibagendi"

In [2]:
first+second+third #+represesnts concatenatio

'SalomeMoraaKibagendi'

In [3]:
first+ " "+second+ " "+third  #multiple quotes and space rep spacing

'Salome Moraa Kibagendi'

In [4]:
first*2 #*rep repetition

'SalomeSalome'

In [5]:
second*3

'MoraaMoraaMoraa'

In [6]:
second ="Moraa" #Indexing is rep by square brackets[]

In [7]:
second[0]

'M'

In [8]:
second [0]

'M'

In [9]:
second [1]

'o'

In [10]:
fullname=first+" "+second
fullname

'Salome Moraa'

In [11]:
fullname[0:7] #colon gives the command to count from the number 0 to the last number in the word

'Salome '

In [12]:
fullname[7:13] #python counts the steps, including the spaces, when one wants to derive only a word it's called slicing

'Moraa'

In [13]:
fullname=second+" "+third
fullname

'Moraa Kibagendi'

In [14]:
fullname[0:5]

'Moraa'

In [15]:
fullname[6:16]

'Kibagendi'

In [1]:
name=input("enter first name ")

enter first name  34

In [ ]:
name=input("enter second name: ") #after input click enter for python to understand you're done.

In [ ]:
print(name)

In [ ]:
name=input("enter third name: ")

In [ ]:
print(name)

In [ ]:
for i in range (11): #i rep iteration-conditions being met
    print(i)

In [ ]:
for chr in fullname: #chr is a variable,for loop, no variable definition is required
    print(chr)

In [ ]:
for i in range(1,10,2):#2 represents the number of steps to be made
    print (i)

In [ ]:
"""
for loop is used to get a series and sequencies
    as seen in excel.
"""    
    
    
#1,2,3, 4, 5, 6, 7, 8, 9,10
for x in range(1,11):
    print (x)

In [ ]:
#1,2,3, 4, 5, 6, 7, 8, 9,10
for x in range(1,11):
    print (x)

In [ ]:
"""
if we wantto tell python to print in a straight line, 
we will use end
"""

#1,2,3, 4, 5, 6, 7, 8, 9,10
for x in range(1,11):
    print (x,end=', ')

In [11]:
#1,2,3, 4, 5, 6, 7, 8, 9,10
total=0

for x in range(1,11): # in this code, we have not given the directive for how many steps to be taken
    total+=x
    print(x, end= ",")

print('\n' , total)

1,2,3,4,5,6,7,8,9,10,
 55

In [9]:
# 2,4,6,8,10
for x in range (2,11,2): #2 indicates the number of steps to be taken/skipped
    print (x, end = " , ")

2 , 4 , 6 , 8 , 10 ,

In [7]:
for x in range (1,36,4): #when there are three(1,36,4) the 4 indicates the number of steps to be taken hence giving it a directive
    print(x)

1
5
9
13
17
21
25
29
33

In [5]:
x=int(input("Enter Age: "))
y=int(input("Enter Age: "))
z=int(input("Enter Age: "))
xy=int(input("Enter Age: "))

total = x+y+z+xy
average = total/4

print(total, average)

Enter Age:  60
Enter Age:  56
Enter Age:  70
Enter Age:  70

256 64.0

In [3]:
total= 0
for x in range (4):
    x= int(input("Enter Age"))
    total +=x


print('\n', total, total/4)

Enter Age 675
Enter Age 15
Enter Age 30
Enter Age 20

 740 185.0

In [17]:
x=int(input("Enter Score: "))
y=int(input("Enter Score: "))
z=int(input("Enter Score: "))
xy=int(input("Enter Score: "))
xyz=int(input("Enter Score: "))

total = x+y+z+xy+xyz
average = total/5

print(total, average)

Enter Score:  14
Enter Score:  86
Enter Score:  4
Enter Score:  98
Enter Score:  200

402 80.4

In [29]:
total= 0
for y in range (5):
    y=int(input("Enter Score: "))
    total +=y


print('\n', total, total/5) # n used to tell the python to print in one line.

Enter Score:  45
Enter Score:  50
Enter Score:  90
Enter Score:  65
Enter Score:  6

 256 51.2

In [31]:
"""
in while loop, the variable is defined first.

"""
count= 0
while count < 4:
    x=int(input("Enter Age: "))
    total +=x
    count +=1
    
print(total/count)

Enter Age:  45
Enter Age:  56
Enter Age:  67
Enter Age:  65

122.25

In [45]:
count = 0 #more work,
while count < 10
  x=int(input("Enter Name"))
    total +=x
    count +=2

print(total/count)

SyntaxError: expected ':' (3979872494.py, line 2)

In [53]:
""" conditioning statement
else, elif, if

"""
score= 30

if score >=90:  #more work to be done, zero content
    print("A")
elif score >=80:
    print("B")
elif score >=70:
    print("C")
elif score >=60:
    print("D")
else:
    print("E")

E

In [55]:
check= True
while check:
    name=input('name')
    if "rhoda" in name:
        check= False

name Salome
name Moraa
name rhoda

In [61]:
score= 80 #slow progress

if score >=90:  #more work to be done, zero content
    print("x")
elif score >=95:
    print("y")
elif score >=15:
    print("z")
elif score >=80:
    print("D")
else:
    print("E")

z

In [63]:
score= 20 #slow progress

if score >=90:  #more work to be done, zero content
    print("x")
elif score <=25:
    print("y")
elif score >=5:
    print("z")
elif score >=80:
    print("D")
else:
    print("E")

y

In [13]:
"""
function- a reusable block of code
parameter- holds an argument

"""

'\nfunction- a reusable block of code\nparameter- holds an argument\n\n'

In [17]:
def Orange(): #repeat 
    print("Hello World")

In [9]:
def Orange(): 
    print("Maandamano")

In [11]:
def greet(name):
    Print("Hello", name)

In [ ]:
Orang